body {
    background-color: rgb(252, 210, 156);
    font-size: 60px;
  
}
.container {
  max-width: 1170px;
  width: 100%;
background-color: red;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
/*display: flex;*/
}

.title {
font-size: 32px;
margin-bottom: 30px;
}

.wrapper {
display: flex;
justify-content: space-between;
}

.left {
  height: 300px;
  width: 300px;
  background-color: rgb(0, 255, 149);
}
.right {
  height: 300px;
  width: 300px;
  background-color: rgb(165, 194, 0);
}

.s-2 {

  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
}

.s-2-wrapper img {
  width: 245px;
  
} 